<app-aside-perfil></app-aside-perfil>

<div id="user-edit" class="center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Editar mi Perfil
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="alertMessage">
                <div class="alert alert-info" role="alert">
                    {{alertMessage}}
                </div>
            </div>
            <form #form="ngForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="name" #name="ngModel" name="name" [(ngModel)]="establishment.name" required />
                    <mat-error *ngIf="!name.valid && name.touched">El nombre requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" #surname="ngModel" name="surname" [(ngModel)]="establishment.surname">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker"  #birth_date="ngModel" name="birth_date" [(ngModel)]="establishment.birth_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>



                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="email" #email="ngModel" name="email" [(ngModel)]="establishment.email"
                        [disabled]=true required />
                    <mat-error *ngIf="!email.valid && email.touched">El email es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="text" #phone_user="ngModel" name="phone_user"
                        [(ngModel)]="establishment.phone_user">
                </mat-form-field>

            </form>

            <mat-card-actions>
                <button mat-raised-button (click)="onSubmit()" color="primary"
                    [disabled]=!form.form.valid>Guardar</button>
            </mat-card-actions>

        </mat-card-content>
    </mat-card>

</div>