<app-aside-perfil></app-aside-perfil>

<div id="change-password" class="center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cambiar Contraseña</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="alertMessage">
                <div class="alert alert-info" role="alert">
                    {{alertMessage}}
                </div>
            </div>
            <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña actual</mat-label>
                        <input matInput placeholder="Contraseña actual" formControlName="passwordCurrent"
                            type="password" [type]="hide ? 'password' : 'text'" required />
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="form.get('passwordCurrent').hasError('required')">La contraseña actual es
                            requerida </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña nueva</mat-label>
                        <input matInput type="password" placeholder="Contraseña nueva" formControlName="password1"
                            [type]="hidePassword1 ? 'password' : 'text'" required />
                        <mat-icon matSuffix (click)="hidePassword1 = !hidePassword1">
                            {{hidePassword1 ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-error
                            *ngIf="form.get('passwordCurrent').hasError('required') || form.get('password2').hasError('minlength')">
                            La contraseña es requerida y/o debe tener 6 caracteres.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Repetir Contraseña nueva</mat-label>
                        <input matInput type="password" placeholder="Repetir Contraseña" formControlName="password2"
                            [type]="hidePassword2 ? 'password' : 'text'" required />
                        <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">
                            {{hidePassword2 ? 'visibility_off' : 'visibility'}}
                        </mat-icon>

                        <mat-error
                            *ngIf="form.get('passwordCurrent').hasError('required') || form.get('password2').hasError('minlength')">
                            La contraseña es requerida y/o debe tener 6 caracteres.</mat-error>

                    </mat-form-field>
                </div>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="onSubmit()" color="primary" >Actualizar Contraseña</button>
        </mat-card-actions>
    </mat-card>
</div>