.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}
/* para que se vea el fondo de abajo */
.example-container {
    position: inherit;
    width: 100px;
    max-width: 120px;
}