<app-aside-perfil></app-aside-perfil>

<div id="user-edit-establishment" class="center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Editar datos del establecimiento
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div *ngIf="alertMessage">
                <div class="alert alert-info" role="alert">
                    {{alertMessage}}
                </div>
            </div>

            <form #form="ngForm" class="user_login" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del establecimiento</mat-label>
                    <input matInput type="name" #name_establishment="ngModel" name="name_establishment"
                        [(ngModel)]="establishment.name_establishment" required/>
                    <mat-error *ngIf="!name_establishment.valid && name_establishment.touched">El nombre del establecimiento es requerido</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text" #address="ngModel" name="address"
                        [(ngModel)]="establishment.address">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email del Establecimiento</mat-label>
                    <input matInput type="text" #email_establishment="ngModel" name="email_establishment"
                        [(ngModel)]="establishment.email_establishment">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Teléfono del establecimiento</mat-label>
                    <input matInput type="text" #phone_establishment="ngModel" name="phone_establishment"
                        [(ngModel)]="establishment.phone_establishment">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Provincia</mat-label>
                    <input matInput type="name"  #provincia="ngModel" name="provincia"
                        [(ngModel)]="establishment.provincia">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Localidad</mat-label>

                    <input matInput type="name"#localidad="ngModel" name="localidad"
                        [(ngModel)]="establishment.localidad">

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Codigo postal</mat-label>
                    <input matInput type="name"  #cp="ngModel" name="cp"
                        [(ngModel)]="establishment.cp">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Información de la música que se escucha</mat-label>
                    <textarea matInput type="name"  #information="ngModel" name="information"
                        [(ngModel)]="establishment.information">
                        </textarea>
                </mat-form-field>


                <!-- <input type="submit" value="Guardar" class="btn btn-primary btn-block"> -->
            </form>

            <mat-card-actions>
                <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]=!form.form.valid>Guardar</button>
            </mat-card-actions>

        </mat-card-content>
    </mat-card>





</div>